body {
    margin: 0px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white ;

}
h1 {
    margin-left: 200px;
    margin-right: 300px;
}
.hi {
    margin-right: 200px;
}
div {
    display: flex;
    flex-direction: column;
    
}
div.box1{
    background-color: #1F2937;
    
    
}

